

/* Color Theme Swatches in RGBA */
.HYPERACTIVE-|-HEARING-AID-APP-|-MOBILE-1-rgba { color: rgba(242, 162, 206, 1); }
.HYPERACTIVE-|-HEARING-AID-APP-|-MOBILE-2-rgba { color: rgba(216, 216, 216, 1); }
.HYPERACTIVE-|-HEARING-AID-APP-|-MOBILE-3-rgba { color: rgba(124, 154, 165, 1); }
.HYPERACTIVE-|-HEARING-AID-APP-|-MOBILE-4-rgba { color: rgba(38, 38, 38, 1); }
.HYPERACTIVE-|-HEARING-AID-APP-|-MOBILE-5-rgba { color: rgba(12, 12, 12, 1); }
